<h1>Draw graffiti in augmented reality</h1>

<div>Put this marker on a Wall</div>
<%= image_tag @marker_png %>
<div>Scan it with your phone or access the Augmented world from <%= link_to  "here", live_path %></div>