<style>
  html, body {
      position: fixed;
  }

  html, body {
      position: relative;
      overflow: hidden;
  }

  body {
      position: fixed;
      overflow: hidden;
  }

  body {
      position: fixed;
      height: 100%;
      overflow: hidden;
      width: 100%;
  }	
  #canvas {
      position: static; /* fixed or static */
  }
</style>
<!-- <div>V 1.0.0</div>
<div>
 <h2>Intersec X</h2>
 <p class="intersecx"></p>
</div>

<div>
 <h2>Computed X</h2>
 <p class="computex"></p>
</div>

<div>
 <h2>Offset X</h2>
 <p class="offsetx"></p>
</div>

<div>
 <h2>Mouse X</h2>
 <p class="mousex"></p>
</div> -->
<div id="canvas"></div>

<script>
  window.holoQRPatt = `${window.location.protocol}//${window.location.host}/pattern.txt`;
</script>